

<h4>Selectores</h4> 

        <form
            class="form"
            action="#"
            name="form_selector"
            id="form_selector"                    
            >
            

    

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="selector">Id:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="selector"
                            id="selector_selector"
                            class="num" 
                            />
                    </div>
                    
                    <div class="bl-4">
                    </div>                       
                    
                </div>    
                
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="superior">Superior:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="superior"
                            id="selector_superior"
                            class="num" 
                            />
                    </div>
                </div>                    
                
            </div>                    

            
            
            
            
            
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="ord">Orden:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="ord"
                            id="selector_ord"
                            class="num" 
                            />
                    </div>

                </div>    
            
                
            </div>                    
            





            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-16">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="selector_descripcion"
                            />
                    </div>
                </div>    
            </div>

            


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="link">Link:</label> 
                    </div>

                    <div class="bl-16">
                        <input                                                 
                            type="text"
                            name="link"
                            id="selector_link"
                            />
                    </div>
                </div>    
            </div>

            
        </form>

    <hr class="e20"/>

    
    
    <article>

        <div class="botones">
                        
                    
            
            <div class="boton">    
              <a id="btn_selmod_aceptar" 
                 class="botonA" 
                 href="javascript:void(0);">
                 Nuevo
              </a>
            </div>
                    
        
            <div class="boton" id="botones_borrar"  >    
              <a id="btn_selmod_borrarr" 
                 class="botonA" 
                 href="javascript:void(0);">
                 Borrar
              </a>
          </div>            
            
        
            <div class="boton">    
              <a id="btn_selmod_cancelar" 
                 class="botonA" 
                 href="javascript:void(0);">
                 Cancelar
              </a>
          </div>            
        


    </article>
                

    <article id="selectores-tabuladores">
        <pre></pre>
    </article>

