
/*

    https://htmlcolorcodes.com/es/tabla-de-colores/tabla-de-colores-web-seguros/
    https://colorhunt.co/palettes/blue

*/



:root {
 
  --primer-color    : rgb(158, 16, 44);
  
  --segundo-color  : #00A3C8;  

  --tercero-color  : #dcedc8;
  
      
  --texto-primer-color : #FFFFFF;  
  --color-texto-oscuro : #3f3f3f;

  --color-texto-gris : grey;  
  

  --color-bloqueado:  #f1f1f1;
    
  --gris-fuerte : #9e9e9e;
  
  --primary-color-text : #FFF;
  --fondo-body : white ;
 
  

  --color-enfoque: #fff9c4;  

  --color-seleccion: #64b5f6;
  
  
}






*{ 
    color: var(--color-texto-oscuro);
}


*::selection {
    background: var(--color-seleccion);;
    color: white;    
}


body {
    background:  var(--fondo-body );
    
}

main {
    background:  var(--fondo-body );
}


nav#nav{
    background:  var(--primer-color);
    color: var(--texto-primer-color);  
    border-color: var(--primer-color);
}


#menubar a {
    background-color: var(--primer-color);
}
#menubar a:hover {
    background: var(--segundo-color);
}

#menubar a div{
    color: var(--texto-primer-color);  
}

#menubar li li{    
    border-top-color:     var(--fondo-body );
}

#menubar  ul >  li li:nth-child(n+1) a{
    border-top-color: var(--segundo-color  );
} 

#menubar ul ul {    
     border-left-color: var(--segundo-color );
} 


form label
{
    color: var(--color-texto-gris );
}


form input,
form select
{
    border-bottom-color: var(--gris-fuerte);    
}

form textarea
{
    border-color: var(--gris-fuerte);    
}


form input:focus,
from select:focus
{
    border-bottom-color: var(--primer-color);
    border-bottom-color: var(--segundo-color);
}

form textarea:focus
{
    border-color: var(--primer-color);
}




form input[type="text"]:disabled {
  background: var(--color-bloqueado);    
}


form input[type="date"]:disabled {
  background: var(--color-bloqueado);    
}





form select:disabled {
  background: var(--color-bloqueado);    
  color: #3f3f3f;
  color: black;
}

form textarea:disabled {
  background: var(--color-bloqueado);    
}


form .out {
    background-color: var(--color-bloqueado);    
}

form .icono span {
  color: var(--segundo-color );  
}

form .icono span:hover {
  color: var(--primer-color);
}

form fieldset{        
    border-color: var(--gris-fuerte);
}






.botonA{    
    background:  var(--primer-color);
    border-color: var(--primer-color);
    color:  var(--texto-primer-color);    
}


.botonA:focus {     
    outline-color: var(--color-texto-gris); 
}



.botonB{    
    border-color: var(--primer-color);    
}


.botonB:focus {     
    background:  var(--color-enfoque);
}
.botonB:hover {
     background:  var(--color-enfoque);
}


.tableB tbody tr:last-child {
        
        border-bottom-color: var(--segundo-color);

}



.icon-menu{
    color: white;
}

/*
.icon-menu:hover{
    color: var(--segundo-color);
}
*/

.tableA tfoot {
    border-color: var(--segundo-color);
}



/*Color 2 color de base convinada */
.tableA tfoot tr td
{
    border-color: var(--primer-color);
}

.tableA th,
.tableA thead
{
    background-color: var(--segundo-color);
}



/* color de campos de tablas antes que el hover */

.tableA tbody tr:nth-child(odd)
{
    background-color: var(--tercero-color);
}


/*
.tableA tbody tr:nth-child(even)  > td
{
  background-color: var(--tercero-color);
}
*/

/*
@media only screen and (max-width : 500px) {
    .table-responsive-vertical > table > tbody > tr:nth-child(odd) > td{
        
        background-color: var(--tercero-color);
    }
}
*/





/*Color 3  color de base suave*/
.tableA tbody tr
{
  /*background: var(--tercero-color );*/
}



/*Color 5  enfoque */
.tableA tbody tr:hover
,.tableB tbody tr:hover
{    
    background: var(--color-enfoque);
}




.tableB thead {
    border-bottom-color: var(--primer-color);
    border-bottom-color: var(--segundo-color);
}
.tableB tfoot {
    border-top-color: var(--segundo-color);
}




.tableB tbody tr {
    border-bottom-color: gainsboro;
}



/*
.tableA
{
    color: DimGray;    
    color: green;    
}
*/



/* White*/
.tableA th
{
    color: var(--fondo-body);
}





h1, h2, h3, h4, h5, h6
{
    color: var(--primer-color );
}


/* supertitulos */

.subti
{
    color: var(--gris-fuerte );
}




/*paginacio */



.pagination li {
    /*border-color:  var(  --tercero-color  );*/
}

.pagination a {
    color: var(  --segundo-color  );
    border-color: var(  --tercero-color  );    
    
}



.pagination a:hover{
    background-color: var(  --fondo-body  );
    border-color:  var(  --segundo-color  );
}

.pagination .actual a:hover {
       cursor: default;
}



.pagination .actual a {
        background-color: var(  --tercero-color  );
        border-color: var(  --segundo-color  );    
        color: var(  --gris-fuerte  );    
}





.serie_thead {
   border-bottom-color: var(  --segundo-color  );
}



.serie_tfoot {
   border-top-color: var(  --segundo-color  );   
}




.serie_line:hover
{    
    background: var(--color-enfoque);
}




.loader-container .semicircle1{
  border-top-color: var(--primer-color );
  border-left-color: var(--primer-color );
 }

.loader-container .semicircle2{
  border-top-color: var(  --segundo-color  );
  border-left-color: var(  --segundo-color  );
 }